<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>Layout</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="../../css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="/">
                Main </a>
            <a class="brand"
               href="https://github.com/ultraq/thymeleaf-layout-dialect">
                Thymeleaf - Layout </a>
            <ul class="nav">
                <li><a th:href="@{/sailors}"> Sailors </a></li>
                <li><a th:href="@{/ships}"> Ships </a></li>
                <li>
                <div class="pull-right" th:if="${isAuthorised == null or !isAuthorised}">
                    <a href="form.html" th:href="@{'/signUp/'}">
                        sign up</a>|<a href="form.html" th:href="@{'/login/'}">sign in</a>
                </div>
                <div class="pull-right" th:if="${isAuthorised != null and isAuthorised}">
                    <a href="form.html" th:href="@{'/me'}">
                        me</a>|<a href="form.html" th:href="@{'/logout'}">logout</a>
                </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="alert alert-success" th:if="${lastDeleteMsg}"
         th:text="${lastDeleteMsg}">Some Success message</div>
    <div class="alert alert-error" th:if="${errorMessage}"
         th:text="${errorMessage}">Some Error message</div>
    <h1 layout:fragment="header">Start Page</h1>
    <div layout:fragment="content"><h2>Hello human or machine!!!</h2></div>
</div>
</body>
</html>
